.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__like-button_vanoise {
  position: relative;
  overflow: hidden;
}

.card__title {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  flex-grow: 1;
  padding-right: 10px;
}

.card__like-button {
  display: flex;
  background: transparent url(../images/heart-icon-card.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.5s linear;
  margin-left: auto;
  box-sizing: content-box;
  padding: 5px;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
