.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  flex-direction: row;
}

.card__title {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  flex-grow: 1;
  padding-right: 10px;
}

.card__like-button {
  display: inline-flex;
  background: transparent url(../images/heart-icon-card.svg) center no-repeat;
  min-width: 24px;
  min-height: 24px;
  border: none;
  transition: opacity 0.5s linear;
  margin-left: auto;
  box-sizing: border-box;
  padding: 5px;
}

.card__like-button_active {
  background-image: url("../images/Heart-hover.svg");
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  display: inline-flex;
  background: transparent url(../images/Trash-inactive.svg) center no-repeat;
  min-width: 18px;
  min-height: 19.3px;
  border: none;
  transition: opacity 0.5s linear;
  margin-left: auto;
  box-sizing: border-box;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 18px;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
