.footer {
  text-align: center;
  padding: 10px 0;
}

.footer__title {
  max-width: 880px;
  justify-content: flex-start;
  display: block;
  color: #545454;
  font-size: 18px;
  line-height: 21.78px;
  margin: 67px 20px 60px;
  position: relative;
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 48px 20px 36px;
  }

  .footer__title {
    margin: 0 20px 36px;
    line-height: 16.94px;
    font-size: 14px;
    max-width: 282px;
  }
}
