.header {
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  margin-bottom: 41px;
}

@media screen and (max-width: 720px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin: 28px 0 32px 27px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1250px) {
  .header {
    margin: 28px 0 42px 0;
    box-sizing: border-box;
    max-height: 56px;
  }

  .header__image {
    justify-content: center;
    margin: 0 20px 32px 20px;
  }
}
