.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}
.modal__container {
  background-color: white;
  margin: auto;
  padding: 0 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
}

.modal__heading {
  font: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  width: 330px;
  height: 23px;
  margin-top: 34px;
  margin-bottom: 54px;
}

.modal__form {
  flex-direction: column;
}

.modal__close {
  background-image: url(../images/modal__close.svg);
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: opacity 0.5s linear;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__button {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 18px auto 36.51px;
  height: 50.15px;
  border-radius: 2px;
  background-color: black;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: none;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
}

.form__fieldset {
  border: none;
  margin: auto;
  padding: 0;
}

.form__label {
  padding: 0;
  height: 27px;
  margin-bottom: 30px;
}

.form__input {
  border: none;
  border-bottom: 1px solid #000000;
  font-style: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 100%;
  max-width: 100%;
  padding: 5px 0;
  background-color: transparent;
  margin-bottom: 30px;
  color: black;
}

::placeholder {
  color: black;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0;
  }
  .form__fieldset {
    padding: 0 20px;
  }
  .modal__button {
    width: 238px;
    height: 46px;
    padding: 0 22px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    color: #000000;
    width: 100%;
    margin-left: 22px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
  }
}
